.aboutme {
    width: 100%;
 
  }
  .aboutme_article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutme_title {
    font-size: 1.9rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    line-height: 30px;
    font-weight: 700;
  }

  .aboutme_paragraph {
    width: 95%;
    font-size: 1rem;
  text-align: justify;
  color: rgb(163 179 188);
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  }
 
  .aboutme_list {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .aboutme_items {
    margin-top: 2rem;
    padding: 1rem;
  }

  .aboutme_items > svg {
    width: 75%;
    height: auto;
  }

@media screen and (min-width: 768px) {
  .aboutme_list {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
}

@media screen and (min-width: 1024px) {
  .aboutme {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .aboutme_article {
    width: 60vw;
    justify-content: flex-start;
    column-gap: 1rem;
  }

  .aboutme_title {
    font-size: 5rem;
  }

  .aboutme_container {
    width: 40vw;
  }
  .aboutme_list {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
}
