
.contactme{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactme_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contactme_tittle {
  width: 100%;
  font-size: 1.9rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
  margin: 1rem 0;
}
.contactme_info {
  font-size: 1rem;
  text-align: justify;
  color: rgb(163 179 188);
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  margin-top: 1rem;
}

.contactme_formcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contactme_form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.5rem;
}

.contactme_formitems {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  border: 0.0625rem solid transparent;
  background-color: var(--background_eerieblack);
  box-shadow: 0 0.25rem 0.938rem 0.313rem rgba(0, 0, 0, 0.5);
  margin-top: .8rem;
  padding: 1rem;
  border: none;
  color: #ffffff;
}

.name_email_container{
  display: flex;
  column-gap: 2%;

}
.contactme_formitems:focus::placeholder{
    opacity: 0;
}

.contactme_submitcontainer {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: .6rem;
}

.contactme_submit {
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  border: 0.0625rem solid transparent;
  background-color: var(--background_eerieblack);
  box-shadow: 0 0.25rem 0.938rem 0.313rem rgba(0, 0, 0, 0.5);
  color: #ffffff;
  transition: 1.5s background-color, 0.5s color;
  align-items: end;
  padding: .7rem 2rem;
  cursor: pointer;
}

.contactme_submit:hover {
  background: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100.78%);
}



@media screen and (min-width:768px) {
  .contactme_tittle{
    font-size: 2.5rem;
    line-height: 50px;
  }
  .contactme_info {
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }

  .contactme_container{
    width: 85%;
  }
  
  .contactme_formcontainer {
    width: 60%;
  }
  
}



@media screen and (min-width:1020px) {
  
  
  .contactme {
    flex-direction: row;
  }
  
  .contactme_container{
    width: 50%;
  }
  .contactme_tittle{
    font-size: 4rem;
    line-height: 70px;
  }

  .contactme_info {
    text-align: center;
    font-size: 1.5rem;
    width: 80%;
  }
  
  .contactme_formcontainer {
    width: 50%;
  }
  .contactme_form{
    width: 80%;
  }
  
}