main {
  font-family: var(--font_family_poppins);

}

.section {
  position: relative;
  padding: 2rem;
  padding-top: 5.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  text-align: center;
}

.profile{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;  
  
}

.profile_left{
  display: flex ;
  flex-direction: column;
  align-items: center;
}

.profile_title {
  width: 100%;
  margin: 0 0;
  font-size: 1.9rem;
  white-space: nowrap;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  line-height: 35px;
  font-weight: 700;
}

.profile_title> span {
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(90deg,#4ca5ff 2.34%,#b673f8 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;

}

.profile_photo {
  width: 10rem;
  height: auto;
  border-radius: 100%;
}

.profile_paragraph{
  width: 90%;
  font-size: 1rem;
  text-align: justify;
  color: rgb(163 179 188);
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}


@media screen and (min-width:768px) {
  
  .profile{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    place-items: center;
  }
  .profile_left{
    place-self: start;
  }
  
  .profile_title {
    font-size: 2.5rem;
    padding-top: 1rem;
  }
  
  .profile_title span {
    font-size: 2rem;
  }
  
  .profile_right{
    place-self: stretch;
   
  }

  .profile_photo {
    width: 18rem;
    
  }
  
  .profile_paragraph{
    width: 85%;
    font-size: 1.5rem;
  }
  
}

@media screen and (min-width:1024px) {

  .profile{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    place-items: center;
  }
  .profile_left{
    place-self: start;
    padding-left: 2rem;
  }
  
  .profile_title {
    font-size: 3.2rem;  
  }
  
  .profile_title span {
    font-size: 2.5rem;
  }

  .profile_right{
    place-self: stretch;
   
  }
  .profile_photo {
    width: 20rem;
  }
  
  .profile_paragraph{
    width: 80%;
    font-size: 1.3rem;
  }
  
}