:root{
    --background_platinum: #d8dbe2;
    --background_platinum_op: hsl(222, 15%, 87%,.8);
    --background_powderBlue: #A9BCD0;
    --background_moonstone: #58A4B0;
    --background_charcoal: hsl(222, 19%, 27%);
    --background_eerieblack: hsl(240, 5%, 11%);
    --background_eerieblack_op: rgba(27, 27, 29, 0.9);
    --background_charlestongreen: #2B2B2B;
    --background_blackcoral: #545E71;
    --background_black: #000000;

    --font_platinum: #D8DBE2;
    --font_powderBlue: #A9BCD0;
    --font_moonstone: #58A4B0;
    --font_charcoal: #373F51;
    --font_eerieblack: #1B1B1E;
    --font_charlestongreen: #2B2B2B;
    --font_blackcoral: #545E71;
    --font_black: #000000;

    --font_family_robotoserif: 'Roboto Serif', serif;
    --font_family_oleoscript: 'Oleo Script', cursive;
    --font_family_ubuntu: 'Ubuntu', sans-serif;

    


}

body {
    background-color: var(--background_eerieblack);
    color: var(-font_powderBlue);
    font-family: var(--font_family_ubuntu);
  }

@media only screen and (max-width: 400px){
    body{
        font-size: 1rem;
    }
}

