.portfolio_container{
    text-align: center;
}

.portfolio_title{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    margin-top:0;
    color: var(--font_moonstone);
    font-style: normal;
    font-weight: 700;
    border: 0.063rem solid var(--font_eerieblack);
    text-shadow: 0 0.25rem 0.938rem #d8dbe240;
}

.portfolio_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 3.3%;
    padding: 0;

}

.portfolio_items{
    width: 30%;
    height: 30%;
    margin-top: 2rem;

}

.portfolio_img{
    border-radius: 10%;
}

